/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@tailwind screens;

html,
body {
  width: 100%;
  height: 100%;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}
